body {
    overflow: hidden;
}

.aboutMeDiv {

    display: flex;
    width: 50%;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 5%;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
}

#aboutMeP {
    background-color: #4d6582cc;
    color: white;
    border-radius: 3px;
    padding: 30px;
    height: 37%;
    margin: 0, auto;
   
}

#aboutMeP:hover {
    box-shadow: 0px 0px 6px 6px #4d8082cc;
}

#photo {

    height: 100%;
    border: 5px, solid, #4d6582cc;
    position: relative;
    right: 55%;
    bottom: 75%;

}

#photo:hover {
    box-shadow: 0px 0px 6px 6px #4d8082cc;
}